notebooks/data
notebooks/cifar_net.pth
.ipynb_checkpoints/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environment
venv/
# .venv/
.venv/

# Compiled Python files
*.pyc

# Logs
*.log

# Data files
data/

# Model files
models/

# Output files
output/

# Environment files
.env

# IDE files
.vscode/

# Cache files
__pycache__/
